@import "tailwindcss";

:root {
  --main-color: #2E05E0;
  --secondary-color: #F6F7F8;
  --accent-color: #FF5722;
  --background-color: #FFFFFF;
  --text-color: #000;


}

@theme {
  --color-main-blue: #2E05E0;
  --color-secondary-color: #F6F7F8;
  --color-secondary-gray: #F5F5F5;
  --font-poppins: var(--font-poppins);
  --font-tilt-wrap: var(--font-tilt-wrap);
}

@layer components {

  .hover-text{
    @apply hover:text-main-blue transition-all cursor-pointer;
  }
  .garis {
    @apply absolute bottom-3 left-1/2 h-[2px] w-0 bg-main-blue transition-all duration-320 group-hover:left-0 group-hover:w-full;
  }

  .autoMid {
    @apply max-w-[80rem] mx-auto px-[20px];
  }


}